
			
#board { position:absolute; 
			top:15%;
			left:16%;
			width:250px; 
			height:150px;
			border:1px;
			z-index:100; }	



#call { 	position:absolute;
			top: 15%;
			width:250px; 
			height:150px;
			margin-left:58%;
			z-index:100; }	
			


#info { 	position:absolute;
			top: 15%;
			left: 79.5%;
			width:150px; 
			height:200px;
			z-index:100; }		
			
			


				

#trade { 
			position:absolute; 
			top:45%;
			left:16%;
			width:800px; 
			height:180px;
			z-index:200; 
			background: #EAEAEA;
			}		
			
#trade_1 { 
			position:absolute; 
			top:12%;
			left:3.5%;
			width:140px; 
			height:140px;
			box-shadow: 3px 4px 5px #A6A6A6;
			border:2px double #747474;
			z-index:200; }					
			
#arrow_1 { 
			position:absolute; 
			top:46%;
			left:22%;
			width:44px; 
			height:20px;
			z-index:200; }					
	

#trade_2 { 
			position:absolute; 
			top:12%;
			left:28.5%;
			width:140px; 
			height:140px;
			border:2px double #747474;						
			box-shadow: 3px 4px 5px #A6A6A6;
			z-index:200; }	
			
#arrow_2 { 
			position:absolute; 
			top:46%;
			left:47%;
			width:48px; 
			height:20px;
			z-index:200; }	

#trade_3 { 
			position:absolute; 
			top:12%;
			left:54%;
			width:140px; 
			height:60px;
			border:2px double #747474;
			box-shadow: 3px 4px 5px #A6A6A6;
			z-index:200; }	
			


#trade_4 { 
			position:absolute; 
			top:56%;
			left:54%;
			width:140px; 
			height:60px;
			border:2px double #747474;
			box-shadow: 3px 4px 5px #A6A6A6;
			z-index:200; }	
			
#arrow_3 { 
			position:absolute; 
			top:46%;
			left:72.5%;
			width:46px; 
			height:20px;
			z-index:200; }	




#trade_5 { 
			position:absolute; 
			top:12%;
			left:79%;
			width:140px; 
			height:140px;
			border:2px double #747474;
			box-shadow: 3px 4px 5px #A6A6A6;
			z-index:200; }					
											
											

#state { 
			position:absolute; 
			top:45%;
			left:79.5%;
			width:250px; 
			height:180px;
			z-index:200; }							


#product { 
			position:absolute; 
			top:73%;
			left:16%;
			width:250px; 
			height:180px;
			z-index:200; }							

#advertice { 
			position:absolute; 
			top:73%;
			left:37.4%;
			width:250px; 
			height:180px;
			z-index:200; }							

#money { 
			position:absolute; 
			top:73%;
			left:58.6%;
			width:250px; 
			height:180px;
			z-index:200; }	

#member { 
			position:absolute; 
			top:73%;
			left:79.5%;
			width:250px; 
			height:180px;
			z-index:200; }	

			