@CHARSET "EUC-KR";

#sidebannerR { position:absolute; height:5000px; top:50px; left:50%; margin-left:470px; width:200px; background:#EAEAEA; }
#sidebannerL { position:fixed; top:50px; right:50%; margin-right:470px; width:200px; height:800px; background:#E9EAED; }
#content { width:980px; height:5000px; margin:0 auto; background:#EAEAEA; }
#coverImage { position:absolute; 
			width:800px; 
			height:220px; 
			margin-right:10px; 
			background:#191919;
			border:1px solid #BDBDBD;
			}

#covertext { 
	position:absolute; 
	width:188px; 
	height:25px; 
	margin-top:-20px;
	margin-left:605px; 
	text-align:right;
	font-weight:bold;
	font-size:90%;
	text-shadow: 2px 1px 1px #191919;
	z-index:50;
	}

#profileImageback { 
	position:absolute; 
	width:168px; 
	height:168px; 
	margin-top:83px; 
	margin-left:25px; 
	background:#FFFFFF;	
	border-radius:5px;
	box-shadow: 0px 1px 1px #A6A6A6;
	}

#profileImage { 
	position:absolute; 
	width:160px; 
	height:160px; 
	margin-top:4px; 
	margin-left:4px; 
	background:#8C8C8C;	
	}
	
#profiletext { 
	position:absolute; 
	width:158px; 
	height:25px; 
	margin-top:-18px; 
	text-align:right;
	font-weight:bold;
	font-size:90%;
	text-shadow: 2px 1px 1px #191919;
	z-index:50;
	}

	
	
	
#name { 
	position:absolute; 
	width:75px;
	height:28px; 
	margin-top:185px; 
	margin-left:198px; 
	text-align:center;
	font-size:170%;
	font-weight:bold;
	text-shadow: 2px 2px 1px #191919;
	}

#menu{ position:absolute;
		width:800px; 
		height:40px;
		margin-top:221px;
		margin-right:0px; 
		margin-left:0px; 
		border:1px solid #D5D5D5; 
		}
#menu0{ position:absolute;
		width:199px; 
		height:40px;
		margin-right:0px; 
		margin-left:0px; 
		background:#FFFFFF;
		border:1px solid #D5D5D5; 
		}
#menu1{ position:absolute;
		width:80px; 
		height:40px;
		margin-right:10px; 
		margin-left:200px;
		background:#FFFFFF;
		text-align:center;
		padding-top:10px;
		color:#1F50B5;
		border:1px solid #D5D5D5;
		}
#menu2{ position:absolute;
		width:80px; 
		height:40px;
		margin-right:10px; 
		margin-left:281px;
		background:#FFFFFF; 
		text-align:center;
		padding-top:10px;
		color:#1F50B5;
		border:1px solid #D5D5D5;
		}		
#menu3{ position:absolute;
		width:80px; 
		height:40px;
		margin-right:10px; 
		margin-left:362px;
		background:#FFFFFF; 
		text-align:center;
		padding-top:10px;
		color:#1F50B5;
		border:1px solid #D5D5D5;
		}		
#menu4{ position:absolute;
		width:80px; 
		height:40px;
		margin-right:10px; 
		margin-left:443px;
		background:#FFFFFF; 
		text-align:center;
		padding-top:10px;
		color:#1F50B5;
		border:1px solid #D5D5D5;
		}	
#menu5{ position:absolute;
		width:80px; 
		height:40px;
		margin-right:10px; 
		margin-left:524px;
		background:#FFFFFF; 
		text-align:center;
		padding-top:10px;
		color:#1F50B5;
		border:1px solid #D5D5D5;
		z-index:100;
		}	
#menu6{ position:absolute;
		width:195px; 
		height:40px;
		margin-right:10px; 
		margin-left:605px;
		background:#FFFFFF; 
		border:1px solid #D5D5D5;
		}
		
		
#knewpeople { position:absolute; 
			  width:800px; 
			  height:180px; 
			  margin-top:275px; 
			  margin-right:10px; 
			  background:#FFFFFF;
			  border:1px solid #BDBDBD; }
			  
#line { position:absolute; 
		width:790px; 
		margin-top:-17px; 
		height:2px;  }			  
			  
#knewpeopletitle { position:absolute; 
			  width:799px; 
			  height:30px;  
			  margin-top:0px; 
			  margin-right:10px; 
			  font-weight:bold;
			  font-size:120%;
			  padding-top:2px;
			  padding-left:6px;
			  text-shadow: 1px 1px 1px #BDBDBD; }

#knewpeopleindex { position:absolute; 
			  width:760px; 
			  height:140px;  
			  margin-top:35px; 
			  margin-left:20px;
			  float:left;} 
			  	
			  
#simpleinfo { position:absolute; 
			  width:230px; 
			  height:250px;  
			  margin-top:470px; 
			  margin-right:10px; 
			  background:#FFFFFF;
			  border:1px solid #BDBDBD;
			  padding-top:6px; }
			  
#picture { position:absolute; 
			  width:230px; 
			  height:250px;  
			  margin-top:735px; 
			  margin-right:10px; 
			  background:#FFFFFF;
			  border:1px solid #BDBDBD;
			  padding-top:6px; }
								
#article {  position:absolute; 
			width:555px; 
			height:250px;     
			margin-top:736px; 
			margin-right:10px;
			margin-left:245px;
			background:#FFFFFF;
			border:1px solid #BDBDBD;
			padding-top:6px; }								
								
#writeform {  position:absolute; 
			  width:555px; 
			  height:250px;
			  margin-top:470px; 
			  margin-right:10px;
			  margin-left:245px;
			  background:#FFFFFF;
			  border:1px solid #BDBDBD; }
								
#writeformtitle {  position:absolute; 
			  width:553px; 
			  height:40px;
			  background:#F6F6F6;
			  padding-top:6px; }
			  
#propic {  position:absolute; 
			  width:100px; 
			  height:150px;
			  margin-top:45px; 
			  background:#F6F6F6;
			  padding-top:6px; }				
			  
#writearea {  position:absolute; 
			  width:440px; 
			  height:150px;
			  margin-top:45px; 
			  margin-left:108px;
			  background:#F6F6F6;
			  padding-top:6px; }
								
#bottom {  position:absolute; 
			  width:553px; 
			  height:50px;
			  margin-top:198px; 
			  background:#F6F6F6;
			  padding-top:6px; }

#header{height:80px; border-bottom:1px solid #d9d9d9;}
.header_wrap{width:1100px; margin:0 auto;}
.header_wrap h1{float:left; margin:27px 0;}
.nav{float:right; text-align:center;}
.gnb>li{ float:left; width:80px; height:80px; list-style:none;}
.sub{position:relative; background:#fff;  margin-top:10px; }
.sub>li{height:30px; margin-left:-41px; list-style:none; }

#imageUploadback { position:absolute; 
			width:100%; 
			height:600%;  
			margin-top:-4949px;
			background:#EAEAEA;
			filter:alpha(opacity=70); opacity:0.7; -moz-opacity:0.3;
			z-index:199; }

#imageUpload { position:absolute; 
			width:600px; 
			height:500px;
			margin-top:-4910px;
			margin-left:25%;
			text-align:center;
			background:#FFFFFF;
			border-radius:10px;
			box-shadow: 2px 2px 1px #A6A6A6;
			z-index:200; }

#imageview { position:relative; 
			width:250px; 
			height:250px;
			margin-top:10px;
			text-align:center;
			border:1px solid #8C8C8C; 
			z-index:205 }
			
			
#closebotton{position:absolute; 
			width:30px; 
			height:30px;
			margin-top:10px;
			margin-left:560px;}
			

#imagehistoryback { position:absolute; 
			width:100%; 
			height:600%;  
			margin-top:-4949px;
			background:#EAEAEA;
			filter:alpha(opacity=70); opacity:0.7; -moz-opacity:0.3;
			z-index:199; }

#imagehistory { position:absolute; 
			width:600px; 
			height:500px;
			margin-top:-4910px;
			margin-left:25%;
			text-align:center;
			background:#FFFFFF;
			border-radius:10px;
			box-shadow: 2px 2px 1px #A6A6A6;
			z-index:200; }

#viewProfileimg{position:absolute;    
		   width:400px; 
		   height:400px; 
		   margin-top:20px;
		   margin-left:0px;
		   z-index:210;}		
			
			

#deletepro{position:absolute;
		width:67px;
		height:20px;
		margin-top:0px;
		margin-left:77%;
		text-align:center;}
			

#CoverUploadback { position:absolute; 
			width:100%; 
			height:600%;  
			margin-top:-4949px;
			background:#EAEAEA;
			filter:alpha(opacity=70); opacity:0.7; -moz-opacity:0.3;
			z-index:199; }

#CoverUpload { position:absolute; 
			width:600px; 
			height:500px;
			margin-top:-4910px;
			margin-left:25%;
			text-align:center;
			background:#FFFFFF;
			border-radius:10px;
			box-shadow: 2px 2px 1px #A6A6A6;
			z-index:200; }


#Coverhistoryback { position:absolute; 
			width:100%; 
			height:600%;  
			margin-top:-4949px;
			background:#EAEAEA;
			filter:alpha(opacity=70); opacity:0.7; -moz-opacity:0.3;
			z-index:199; }

#Coverhistory { position:absolute; 
			width:600px; 
			height:500px;
			margin-top:-4910px;
			margin-left:25%;
			text-align:center;
			background:#FFFFFF;
			border-radius:10px;
			box-shadow: 2px 2px 1px #A6A6A6;
			z-index:200; }			
			

#msgPop { position:absolute; 
		width:350px; 
		height:400px;
		margin-top:-4950px;
		margin-left:55%;
		padding-left:20px;
		font-size:90%;
		background:#FFFFFF;
		box-shadow: 2px 2px 1px #A6A6A6;
		z-index:200; }	
		
#msgtext { position:relative; 
		width:88%; 
		height:24px;
		margin-top:10px;
		border-bottom:1px solid #D5D5D5;
		font-size:90%; }		

#closemsg{position:absolute; 
			width:15px; 
			height:15px;
			margin-top:10px;
			margin-left:305px;}
			
#arrow { position:absolute; 
		width:25px; 
		height:25px;
		margin-top:-4961px;
		margin-left:1009px;
		z-index:999; }
									
#friendlist_img {position:relative;  
		   width:50px; 
		   height:50px; 
		   margin-left:0px;
		   margin-top:10px;
		   border:1px solid #D5D5D5;
		   text-align:left;
		   }
		   
#friendlist_img_line {position:absolute;
		   width:50px; 
/* 		   height:50px; 
		   margin-top:-115px; */
		   text-align:left;
		   }	
									
#friendlist {position:relative;  
		   width:140px; 
		   height:50px; 
		   margin-top:10px;
		   margin-left:55px;
		   padding-top:15px;
		   padding-left:5px;
		   text-align:left;
		   font-weight:bold;
		   font-size: 85%;
		   }			
						
#friendlist_line {position:absolute;    
		   width:140px; 
/* 		   height:50px; 
		   margin-top:-115px; */
		   text-align:left;
		   }	
		   	
#friendlist_side {position:absolute;    
		   width:5px; 
		   height:90%; 
		   margin-top:5px;
		   margin-left:-16px;
		   border-left:1px solid #D5D5D5;
		   }	




